.nav-nav {
  align-items: center;
  display: flex;
  gap: 20px;
  justify-content: center;
  position: relative;
  width: fit-content;
  margin-right: 56px;
}

.nav-nav .nav-list-item-instance {
  color: #ffffff !important;
}
