*{
  margin: 0 auto
}
.PROSPEK-KARIR {
    background-color: #faeee5;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    margin-top: -10px;
  }
  
  .PROSPEK-KARIR .frame-wrapper {
    background-color: #faeee5;
    border: 1px none;
    height: 980px;
    overflow: hidden;
    height: 647px;
    /* width: 1280px; */
    padding-bottom: 0;
  }
  
  .PROSPEK-KARIR .frame {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* left: -185px; */
    left: -4.7%;
    position: relative;
    top: -363px;
    width: fit-content;
  }
  
  .PROSPEK-KARIR .ellipse {
    background-color: #4f709c;
    border-radius: 825.5px/585.5px;
    /* height: 50rem; */
    height: 1080px;
    min-width: 1651px;
    position: relative;
    right: 100px;
    bottom: 275px;
    padding-bottom: 0;
  }
  
  .PROSPEK-KARIR .text-wrapper {
    color: #ffffff;
    font-family: "Poppins-Bold", Helvetica;
    font-size: 60px;
    font-weight: 700;
    /* left: 603px; */
    left: 37%;
    letter-spacing: 0;
    line-height: 90px;
    position: absolute;
    text-align: center;
    top: 519px;
    white-space: nowrap;
    padding-right: 100px;
    left: 450px;
    margin-top: 10px;
    margin-bottom: -100px;
  }
  
  .PROSPEK-KARIR .p {
    color: black;
    font-family: "Poppins-Bold", Helvetica;
    font-size: 40px;
    font-weight: 700;
    left: 175px;
    letter-spacing: 0;
    line-height: 75px;
    position: absolute;
    text-align: center;
    top: 800px;
    width: 1048px;
    margin-top: 30px;

  }
  
  .PROSPEK-KARIR .nav-navbar-instance {
    left: 10px !important;
    right: 300px;
    position: absolute !important;
    top: 363px !important;
  }
  
  .PROSPEK-KARIR .design-component-instance-node {
    min-width: 131px !important;
    position: relative !important;
    width: unset !important;
  }
  
  .PROSPEK-KARIR .search-bar-instance {
    height: 55px !important;
    left: 450px !important;
    position: absolute !important;
    top: 650px !important;
    padding-top: 10px;
  }
  
  .PROSPEK-KARIR .search-bar-2 {
    margin-top: unset !important;
  }
  