.nav-list-item {
  align-items: center;
  display: flex;
  gap: 10px;
  justify-content: center;
  padding: 10px;
  position: relative;
  width: fit-content;
}

.nav-list-item .list-item {
  color: #7c8db0;
  font-family: "Source Code Pro", Helvetica;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 45px;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
  text-decoration: none;
}

.list-item:hover{
  color: antiquewhite;
}
