.card-rumpun {
  align-items: flex-start;
  display: flex;
  gap: 10px;
  height: 355px;
  position: relative;
  width: 172px;
}

.card-rumpun .background-image {
  height: 355px;
  min-width: 172px;
  object-fit: cover;
  position: relative;
}

.card-rumpun .frame {
  align-items: center;
  display: flex;
  gap: 10px;
  justify-content: center;
  left: 18px;
  position: absolute;
  top: 152px;
  width: 135px;
}

.card-rumpun .title-card {
  color: #ffffff;
  flex: 1;
  font-family: "Source Code Pro", Helvetica;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  text-align: center;
}
